*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

button{
    width: 400px;
}